-r requirements.txt

# Local testing
python-dotenv

# Twilio
twilio

# Examples
ipykernel

# Test dependencies
pytest >= 6
pytest-cov
pytest-xdist
pipdeptree
pyinstrument
pytest-mock
pytest-html
genbadge[coverage]

# Quality code dependencies
flake8
flake8-html

# Documentation dependencies
sphinx
sphinx_rtd_theme

# Build tools
wheel
setuptools
pbr
twine
